.app-container {
  background-color: #282c34;
  font-size: 16px;
  color: white;
  padding: 1em;
  min-height: calc(100vh - 2em);
}

.header-text {
  font-size: 2em;
  font-weight: bold;
}

.text-input{
  margin-right: 1em; /* adds 1 font-size of space to the right of the element*/
  padding: 0.5em; /* adds half a font-size of space inside the element */
  border: 4px solid white; /* adds a solid white border of 4px around the element*/
  border-radius: 4px; /* curves the border's edges by 4px */
  font-size: 1em; /* makes the font size the same as the parent */
}

/* App.css */
.send-button {
  padding: 0.5em;
  background-color: #AED643;
  border: 4px solid #AED643;
  border-radius: 4px;
  color: black;
  font-size: 1em;
}

/* App.css */
.messages-container{
  margin-top: 1em;
}

.message-item{
  margin-left: 1em;
  margin-right: 1em;
}